.geral{
    display: flex;
    justify-content: right;
    
}
.navbar1{
    background-color: transparent;
    display: flex;
    padding-right: 20px;
 
  
}

.btn{
    margin: 20px;
    list-style: none;
    text-decoration: none;
    color: black;
    
}